@media (max-width: 514px) {
    .footer .second i { font-size: 5vw; }
    .services img {
        width: 30vh !important;
    }

    .modal-header {
        padding: 0;
    }
}

@media (max-width: 575.98px) {
    .main-menu {
        text-align: center;
        position: absolute;
        z-index: 9999;
        transition: all .4s ease-in-out;
    }

    .main-menu ul { 
        padding: 0;
        padding-top: 25%;
    }

    .main-menu.active { 
        background-color: #121212;
        height: 100vh;
        position: fixed;
        transition: all .4s ease-in-out;
    }

    .main-menu button {
        float: right;
    }

    .main-menu .collapse {
        text-align: center;
        z-index: 9999;
    }

    .main-menu li a {
        font-size: 30px;
        font-family: 'Poppins', cursive; 
    }

    .main-menu li:hover {
        background-color: #23A6D5;
        transition: all .4s ease-in-out;
    }

    .main-logo { width: 100px; }
    .main .text { font-size: 40px; }
    .main h6 { font-size: 20px; }
    .ideas { text-align: center; }
    .ideas h1, .services h1, .rating h1, .contact h1 { font-size: 30px; text-align: center; }
    .ideas h6, .services h6, .rating h6 { font-size: 22px; text-align: center; }
    .ideas .i-col-second img { width: 50%; }
    .ideas p, .services p { font-size: 15px; }
    .services .s-col-first { border-top: 1px solid rgba(255, 255, 255, 0.253); }
    .services .s-col-second { border-left: 0; }
    .services img {
        width: 30vh !important;
    }
    .rating img {
        width: 30vh;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .main-menu {
        text-align: center;
        position: absolute;
        z-index: 9999;
        transition: all .4s ease-in-out;
    }

    .main-menu ul { 
        padding: 0;
        padding-top: 25%;
    }

    .main-menu.active { 
        background-color: #212121;
        height: 100vh;
        position: fixed;
        transition: all .4s ease-in-out;
    }

    .main-menu button {
        float: right;
    }

    .main-menu .collapse {
        text-align: center;
        z-index: 9999;
    }

    .main-menu li a {
        font-size: 40px;
        font-family: 'Poppins', cursive; 
    }

    .main-menu li:hover {
        background-color: #23A6D5;
        transition: all .4s ease-in-out;
    }
    .main-logo { width: 150px; }
    .main .text { font-size: 40px; }
    .main h6 { font-size: 20px; }
    .ideas h1, .services h1, .rating h1, .contact h1 { font-size: 30px; text-align: center; }
    .ideas h6, .services h6, .rating h6 { font-size: 22px; text-align: center; }
    .ideas .i-col-second img { width: 50%; }
    .ideas p, .services p { font-size: 15px; }
    .services .s-col-first { border-top: 1px solid rgba(255, 255, 255, 0.253); }
    .services .s-col-second { border-left: 0; }
    .services img {
        width: 30vh !important;
    }
    .rating img {
        width: 30vh;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .main-menu {
        text-align: center;
        position: absolute;
        z-index: 9999;
        transition: all .4s ease-in-out;
    }

    .main-menu ul { 
        padding: 0;
        padding-top: 25%;
    }

    .main-menu.active { 
        background-color: #212121;
        height: 100vh;
        position: fixed;
        transition: all .4s ease-in-out;
    }

    .main-menu button {
        float: right;
    }

    .main-menu .collapse {
        text-align: center;
        z-index: 9999;
    }

    .main-menu li a {
        font-size: 50px;
        font-family: 'Poppins', cursive; 
    }

    .main-menu li:hover {
        background-color: #23A6D5;
        transition: all .4s ease-in-out;
    }

    .main-logo { width: 200px; }
    .main .text { font-size: 50px; }
    .main h6 { font-size: 25px; }
    .ideas h1, .services h1, .rating h1, .contact h1 { font-size: 30px; text-align: center; }
    .ideas h6, .services h6, .rating h6 { font-size: 22px; text-align: center; }
    .ideas .i-col-second img { width: 50%; }
    .ideas p, .services p { font-size: 15px; }
    .services .s-col-first { border-top: 1px solid rgba(255, 255, 255, 0.253); }
    .services .s-col-second { border-left: 0; }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-logo { width: 250px; }
    .main .text { font-size: 60px; }
    .ideas h1, .services h1, .rating h1, .contact h1 { font-size: 35px; }
    .ideas h6, .services h6, .rating h6 { font-size: 25px; }
    .ideas p, .services p { font-size: 16px; }
}

@media (min-width: 1212px) {
    .footer .second i { font-size: 29px; }
}
